@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*          ANIMATIONS          */
@keyframes slide-first-title {
    from {
        color: rgba(0, 0, 0, 0);
        right: 115px;
    }
    to {
        color: black;
        right: 0px;
    }
}

@keyframes slide-second-title {
    from {
        color: rgba(0, 0, 0, 0);
        left: 75px;
    }
    to {
        color: black;
        left: 0px;
    }
}

@keyframes slide-skills {
    from {
        color: rgba(0, 0, 0, 0);
        left: 115px;
        border-color: rgba(0, 0, 0, 0);
    }
    to {
        color: rgb(31, 120, 155);
        left: 0px;
        border-color: rgb(31, 120, 155);
    }
}


/*          UTILITY         */

body {
    font-family: Montserrat;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1300px;
}

.space {
    height: 5px;
    background-image: linear-gradient(#777, #aaa, #ddd, #fff);
}

.hide {
    position: fixed;
    left: 9999;
}

/*          HEADER          */

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    position: relative;
}

#header-button-container {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.header-button {
    min-width: 130px;
    padding: 12px 0;
    cursor: pointer;
    border: 1px solid hsl(197, 0%, 55%);
    border-radius: 7px;
    background-image: linear-gradient(rgb(113, 192, 223), rgb(31, 120, 155));
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
}

#header-first-title {
    animation-name: slide-first-title;
    animation-duration: 1.5s;
}

#header-second-title {
    animation-name: slide-second-title;
    animation-duration: 1.6s;
}



/*          ABOUT           */

#about {
    background-color: #eee;
}

#about-container {
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
}

#about section {
    width: 40vw;
}

#about h2 {
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
}

#about-paragraph {
    line-height: 2rem;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
    position: relative;
}

.text-hidden {
    color: rgba(0, 0, 0, 0);
}

.text-hidden .skill {
    color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0);
}

.about-paragraph-animation {
    animation-name: slide-first-title;
    animation-duration: 1.5s;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.skill {
    border: 3px solid rgb(31, 120, 155);
    border-radius: 10px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    color: rgb(31, 120, 155);
    margin: 5px;
}

.skill h3 {
    font-size: 0.75rem;
    font-weight: bold;
    padding-top: 2px;
}

.about-skills-animation {
    animation-name: slide-skills;
    animation-duration: 1.5s;
}
